<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update User</h1>

<!--/*@thymesVar id="user" type="uz.pdp.website.entity.UserEntity"*/-->
<form th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:name="id" th:value="${user.getId()}" />
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button th:value="${user.getId()}" class="opacity">SUBMIT</button>
</form>


</body>
</html>