<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
    <ul>
        <li><a href="/example">Home</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a href="/admin/allUser">Users</a></li>
        <li sec:authorize="hasRole('USER')"><a href="/user/myInfo">Information</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/auth/login">Logout</a></li>
    </ul>
</div>
<div class="content">
    <div class="title" sec:authorize="hasRole('ADMIN')">
       Welcome to Admin panel  </div>
    <div class="title" sec:authorize="hasRole('USER')">
        Welcome to User panel</div>

</div>
</body>

</html>