<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/loader.css">
</head>

<body>
<table style="width: 100%" id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody th:name="id" th:value="" th:each="user : ${users}">
    <tr >
        <!--/*@thymesVar id="user" type="uz.pdp.website.entity.UserEntity"*/-->
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getUsername()}"/>
        <!--        <td th:text="${user.getPassword()}"/>-->
        <td th:text="${user.getUserRoles()}"/>
        <td>
            <form th:action="@{/admin/delete}">
                <button type="submit"  th:name="id" th:value="${user.getId()}" style="font-size:20px"><i class="fa fa-trash-o"></i></button>
            </form>
            <form th:action="@{/admin/update}" th:object="${requestDto}" method="post">
                <button type="submit"  th:name="id" th:value="${user.getId()}"> Update</button>

            </form>
        </td>

    </tr>
    </tbody>
</table>



</body>
</html>